adium-theme-ubuntu==0.3.4
airspeed==0.5.4.dev20150515
amqp==1.4.9
anyjson==0.3.3
attrs==15.2.0
bcrypt==2.0.0
beautifulsoup4==4.4.1
billiard==3.3.0.23
blinker==1.3
cachetools==0.8.0
celery==3.1.23
cffi==1.6.0
chardet==2.3.0
click==6.2
configuration==0.4.2
coverage==4.0.3
cryptography==1.2.3
debtags==2.0
defer==1.0.6
dirspec==13.10
dj-database-url==0.4.1
Django==1.11.1
django-braces==1.8.1
django-celery==3.1.17
django-configuration==0.0.3
django-configurations==0.8
django-cors-headers==1.1.0
django-db-file-storage==0.3.3
django-debug-toolbar==1.4
django-filter==0.11.0
django-log-request-id==1.1.0
django-polymorphic==0.7.2
django-postgrespool==0.3.0
django-redis-cache==1.6.5
django-requestlogging==1.0.1
django-rest-swagger==0.3.5
djangorestframework==3.6.3
djangorestframework-jwt==1.7.2
duplicity==0.7.6
enum34==1.1.2
et-xmlfile==1.0.1
funcsigs==0.4
gunicorn==19.6.0
helper==2.4.2
html5lib==0.999
httplib2==0.9.1
idna==2.0
importlib==1.0.3
ipaddress==1.0.16
jdcal==1.2
JSON-log-formatter==0.0.2
kombu==3.0.35
lockfile==0.12.2
logstash==0.1.dev0
logstash-formatter==0.5.15
lxml==3.5.0
Markdown==2.6.5
mock==1.3.0
ndg-httpsclient==0.4.0
newrelic==2.60.0.46
newrelic-plugin-agent==1.3.0
numpy==1.11.0
oauthlib==1.0.3
oneconf==0.3.9
openpyxl==2.3.5
PAM==0.4.2
pbr==3.1.1
Pillow==3.1.2
piston-mini-client==0.7.5
psycopg2==2.6.2
ptyprocess==0.5
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.20.0
PyJWT==1.4.0
pymongo==3.2.2
pyOpenSSL==0.15.1
pyserial==3.0.1
python-apt==1.1.0b1
python-dateutil==2.4.2
python-debian==0.1.27
python-logstash==0.4.6
python-sane==2.8.2
pytz==2017.2
pyxdg==0.25
PyYAML==3.11
redis==2.10.5
requests==2.9.1
rq==0.5.6
service-identity==16.0.0
simplejson==3.8.2
six==1.10.0
software-center-aptd-plugins==0.0.0
SQLAlchemy==1.0.11
sqlparse==0.1.19
stevedore==1.25.0
TinyUrl==0.1.0
Twisted==16.0.0
ubuntuone-client-data==14.4
Unipath==1.1
unity-lens-photos==1.0
urllib3==1.13.1
uuid==1.30
virtualenv==12.0.7
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
whitenoise==3.2
zope.interface==4.1.3
